<p><small>
    <a class="version" href="https://gitlab.com/dowvd1000/dow.x10.mx/releases/{{version}}" target="_blank">v{{version}}</a>&nbsp;&nbsp;&mdash;&nbsp;
    <a href="https://discord.com/users/358089158637518848">Discord</a>&nbsp;
    <a href="https://www.nationstates.net/the_land_of_apples" target="_blank">NationStates</a>&nbsp;
    <a href="https://www.torn.com/2105138" target="_blank">TornCity</a>&nbsp;
    <a href="https://steamcommunity.com/id/dowvd1000" target="_blank">Steam</a>&nbsp;
    <a href="https://gitlab.com/dowvd1000" target="_blank">Gitlab</a>&nbsp;
    <a href="/page/about">About</a>&nbsp;
    <a href="/page/privacy">Privacy</a>
</small></p>
<p><small>&copy; 2017&dash;2024 dowvd1000</small></p>