@font-face {
	font-family: "Work Sans";
	src: url("http://localhost/assets/dist/fonts/WorkSans[wght].woff2");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Work Sans";
	src: url("http://localhost/assets/dist/fonts/WorkSans-Italic[wght].woff2");
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Fira Code";
	src: url("http://localhost/assets/dist/fonts/FiraCode-VF.woff2");
	font-style: normal;
	font-display: swap;
}
